{%extends 'app/base.html' %}
{%block content%}
        <div class="w-full flex items-center justify-center px-25 min-h-screen">
            <div class="flex items-center justify-center w-full gap-100">
                <h1 class="font-['Unbounded'] font-bold text-5xl uppercase text-[#FFFAF4]">{{page_title}}</h1>
                <p class="border-t border-t-gray-500 pt-2  font-['Inter'] font-normal text-base leading-7 text-[#F8F1EA] max-w-80">
                    {{ page_description }}</p>
            </div>

        </div>
{%endblock%}