{% load static %}

<html class="scrollbar-none">
    <head>
        <link rel="stylesheet" href="{% static 'app/css/output.css' %}">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Unbounded:wght@400..800&display=swap"
            rel="stylesheet"
        >
        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@200..800&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    </head>

    <body class="bg-[#101010] px-3 py-3">

        <header class="sticky top-0 z-50 w-full bg-[#FFFAF4] flex items-stretch justify-between px-15 rounded-3xl">

            <div class="px-15 flex items-center">
                <img
                    src="{% static 'app/images/logo.svg' %}"
                    alt="Logo"
                >
            </div>

            <nav class="flex items-stretch gap-5">

                {% if request.path == "/" %}
                <a href="{% url 'home' %}" class="px-6 py-6.5 flex items-center font-['Unbounded'] font-bold text-md text-[#101010] transition-all duration-300 bg-linear-to-b from-[#DDF918] to-[#DDF91800] border-t-4 border-t-black">Home</a>
                {% else %}
                <a href="{% url 'home' %}" class="px-6 py-6.5 flex items-center font-['Unbounded'] font-bold text-md text-[#101010] ">Home</a>
                {% endif %}

                {% if request.path == "/articles/" %}
                <a href="{% url 'article' %}" class="px-6 py-6.5 flex items-center font-['Unbounded'] font-bold text-md text-[#101010] transition-transform duration-600 bg-linear-to-b from-[#DDF918] to-[#DDF91800] border-t-4 border-t-black">Articles</a>
                {% else %}
                <a href="{% url 'article' %}" class="px-6 py-6.5 flex items-center font-['Unbounded'] font-bold text-md text-[#101010] ">Articles</a>
                {% endif %}

                {% if request.path == "/about/" %}
                <a href="{% url 'about' %}" class="px-6 py-6.5 flex items-center font-['Unbounded'] font-bold text-md text-[#101010] transition-all duration-300 bg-linear-to-b from-[#DDF918] to-[#DDF91800] border-t-4 border-t-black">About</a>
                {% else %}
                <a href="{% url 'about' %}" class="px-6 py-6.5 flex items-center font-['Unbounded'] font-bold text-md text-[#101010] ">About</a>
                {% endif %}



            </nav>

            <div class="flex items-stretch gap-5">
                {% if request.user.is_authenticated %}

                <div class="flex items-center gap-2">

                <p class="px-2.5 py-6.5 flex items-center font-['Unbounded'] font-bold text-md text-[#101010]">{{request.user.username}}</p>

                <span class="bg-black min-w-[1.5px] h-[60%]"></span>

                <a href="{% url 'profile' %}" class="px-4 py-4 rounded-xl bg-[#DDF918] border-2 border-[#FFFAF4] font-['Unbounded'] font-bold text-sm text-[#101010] transition-all duration-300 hover:-translate-y-1 hover:shadow-[6px_6px_0_#FFFAF4]">Profile</a>
                </div>

                {%else%}
                <div class="flex items-center gap-2">
                    <a href="{% url 'login' %}" class="px-4 py-4 rounded-xl bg-[#DDF918] border-2 border-[#FFFAF4] font-['Unbounded'] font-bold text-sm text-[#101010] transition-all duration-300 hover:-translate-y-1 hover:shadow-[6px_6px_0_#FFFAF4]">Login</a>
                    <a href="{% url 'register' %}" class="px-4 py-4 rounded-xl border font-['Unbounded'] font-bold text-sm  transition-all duration-300 hover:bg-[#FFFAF4] hover:text-[#101010] hover:-translate-y-1 hover:shadow-[6px_6px_0_#FFFAF4]">
                        Registration
                    </a>
                </div>
                {%endif%}
            </div>

        </header>
        {% block content %}
        <div class="w-full flex items-center justify-center px-25 min-h-screen">
            <div class="flex items-center justify-center w-full gap-100">
                <h1 class="font-['Unbounded'] font-bold text-5xl uppercase text-[#FFFAF4]">{{page_title}}</h1>
                <p class="border-t border-t-gray-500 pt-2  font-['Inter'] font-normal text-base leading-7 text-[#F8F1EA] max-w-80">
                    {{ page_description }}</p>
            </div>

        </div>
        {% endblock %}
    </body>
</html>